@media screen and (min-width: 800px) {
    

    section {
        width: 700px;
    }
    textarea{
        width: 500px;
        padding: 20px;
    }
    h1{
        font-size: 3em;
    
     }
     .add {
        padding: 20px 30px 20px 30px;
        
    }
    label {
        font-size: 2em;
    }
    #cal {
        padding: 20px 50px 20px 50px;
     
    }
        
}

